#youtube_ac
{
	width:400px;
}
#youtube_ac_result
{
	background:#fff;
	text-align:left;
	padding:2px;
}
#youtube_ac_result li 
{
	list-style-type:none;
}
#youtube_ac_result a 
{
	color:#000;
	text-decoration:none;
}
#youtube_ac_result a:hover 
{
	text-decoration:underline;
}
